@charset "UTF-8";

@font-face {
  font-family: "fbn-stacked-icon-2";
  src:url("fonts/fbn-stacked-icon-2.eot");
  src:url("fonts/fbn-stacked-icon-2.eot?#iefix") format("embedded-opentype"),
    url("fonts/fbn-stacked-icon-2.woff") format("woff"),
    url("fonts/fbn-stacked-icon-2.ttf") format("truetype"),
    url("fonts/fbn-stacked-icon-2.svg#fbn-stacked-icon-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "fbn-stacked-icon-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fbn-stacked-icon-"]:before,
[class*=" fbn-stacked-icon-"]:before {
  font-family: "fbn-stacked-icon-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fbn-stacked-icon-0-axes-graph-1-3-4-6:before {
  content: "\e000";
}
.fbn-stacked-icon-graph1-calque2:before {
  content: "\e001";
}
.fbn-stacked-icon-graph1-calque3:before {
  content: "\e002";
}
.fbn-stacked-icon-graph2-calque1:before {
  content: "\e003";
}
.fbn-stacked-icon-graph2-calque2:before {
  content: "\e004";
}
.fbn-stacked-icon-graph2-calque3:before {
  content: "\e005";
}
.fbn-stacked-icon-graph2-calque4:before {
  content: "\e006";
}
.fbn-stacked-icon-graph3-calque1:before {
  content: "\e007";
}
.fbn-stacked-icon-graph3-calque2:before {
  content: "\e008";
}
.fbn-stacked-icon-graph3-calque3:before {
  content: "\e009";
}
.fbn-stacked-icon-graph4-calque1:before {
  content: "\e00a";
}
.fbn-stacked-icon-graph4-calque2:before {
  content: "\e00b";
}
.fbn-stacked-icon-graph4-calque3:before {
  content: "\e00c";
}
.fbn-stacked-icon-graph5-calque1:before {
  content: "\e00d";
}
.fbn-stacked-icon-graph5-calque2:before {
  content: "\e00e";
}
.fbn-stacked-icon-graph6-calque1:before {
  content: "\e00f";
}
.fbn-stacked-icon-graph6-calque2:before {
  content: "\e010";
}
.fbn-stacked-icon-graph7-calque1:before {
  content: "\e011";
}
.fbn-stacked-icon-graph7-calque2:before {
  content: "\e012";
}
.fbn-stacked-icon-graph8-calque1:before {
  content: "\e013";
}
.fbn-stacked-icon-graph8-calque2:before {
  content: "\e014";
}
.fbn-stacked-icon-graph8-calque3:before {
  content: "\e015";
}
.fbn-stacked-icon-graph9-calque1:before {
  content: "\e016";
}
.fbn-stacked-icon-graph9-calque2:before {
  content: "\e017";
}
.fbn-stacked-icon-graph9-calque3:before {
  content: "\e018";
}
.fbn-stacked-icon-graph10-calque1:before {
  content: "\e019";
}
.fbn-stacked-icon-graph10-calque2:before {
  content: "\e01a";
}
.fbn-stacked-icon-graph10-calque3:before {
  content: "\e01b";
}
.fbn-stacked-icon-graph10-calque4:before {
  content: "\e01c";
}
.fbn-stacked-icon-graph10-calque5:before {
  content: "\e01d";
}
.fbn-stacked-icon-graph-11-12-calque1:before {
  content: "\e01e";
}
.fbn-stacked-icon-graph-11-calque2:before {
  content: "\e01f";
}
.fbn-stacked-icon-graph-11-calque3:before {
  content: "\e020";
}
.fbn-stacked-icon-graph-11-calque4:before {
  content: "\e021";
}
.fbn-stacked-icon-graph-12-calque2:before {
  content: "\e022";
}
.fbn-stacked-icon-graph-12-calque3:before {
  content: "\e023";
}
.fbn-stacked-icon-graph-12-calque4:before {
  content: "\e024";
}
.fbn-stacked-icon-graph-13-calque1:before {
  content: "\e025";
}
.fbn-stacked-icon-graph-13-calque2:before {
  content: "\e026";
}
.fbn-stacked-icon-graph-13-calque3:before {
  content: "\e027";
}
.fbn-stacked-icon-graph-13-calque4:before {
  content: "\e028";
}
.fbn-stacked-icon-graph-15-calque1:before {
  content: "\e029";
}
.fbn-stacked-icon-graph-15-calque2:before {
  content: "\e02a";
}
.fbn-stacked-icon-graph-15-calque3:before {
  content: "\e02b";
}
.fbn-stacked-icon-alert-graph-4-calque5:before {
  content: "\e02c";
}
.fbn-stacked-icon-heat-map-graph-calque1:before {
  content: "\e02d";
}
.fbn-stacked-icon-heat-map-graph-calque1-copie:before {
  content: "\e02e";
}
.fbn-stacked-icon-heat-map-graph-calque2:before {
  content: "\e02f";
}
.fbn-stacked-icon-heat-map-graph-calque3:before {
  content: "\e030";
}
.fbn-stacked-icon-heat-map-graph-calque4:before {
  content: "\e031";
}
.fbn-stacked-icon-hourly-analysis-calque1:before {
  content: "\e032";
}
.fbn-stacked-icon-hourly-analysis-calque2:before {
  content: "\e033";
}
.fbn-stacked-icon-hourly-analysis-calque3:before {
  content: "\e034";
}
.fbn-stacked-icon-hourly-analysis-calque4:before {
  content: "\e035";
}
.fbn-stacked-icon-hourly-analysis-calque5:before {
  content: "\e036";
}
.fbn-stacked-icon-ranking1-analysis-calque1:before {
  content: "\e037";
}
.fbn-stacked-icon-ranking1-analysis-calque2:before {
  content: "\e038";
}
.fbn-stacked-icon-binary:before {
  content: "\e039";
}
.fbn-stacked-icon-binary-sigma:before {
  content: "\e03a";
}
.fbn-stacked-icon-duplicate:before {
  content: "\e03b";
}
.fbn-stacked-icon-nb-vote-graph-axe:before {
  content: "\e03c";
}
.fbn-stacked-icon-nb-vote-graph-col:before {
  content: "\e03d";
}
.fbn-stacked-icon-nb-vote-graph-curve:before {
  content: "\e03e";
}
.fbn-stacked-icon-pen:before {
  content: "\e03f";
}
.fbn-stacked-icon-trash:before {
  content: "\e040";
}
